<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/registro.css"> 
    <title>Registro de Usuario</title>
</head>
<body>
    <div class="container">
        <h1>Registro de Usuario</h1>
        <form action="/validar" method="post">
            <label for="nom">Nombre:</label>
            <input type="text" name="nom" id="nom" required><br><br>

            <label for="ape">Apellido:</label>
            <input type="text" name="ape" id="ape" required><br><br>

            <label for="user">Usuario:</label>
            <input type="text" name="user" id="user" required><br><br>

            <label for="pass">Contraseña:</label>
            <input type="password" name="pass" id="pass" required><br><br>

            <input type="submit" value="Registrar" class="submit-btn">
            <button type="button" onclick="window.location.href='/inicioSesion'" class="login-btn">Iniciar sesión</button>
        </form>
    </div>
</body>
</html>
